/*Download Discord on Web*/
[data-list-id="guildsnav"] > [dir="ltr"] > :nth-last-child(3),
[data-list-id="guildsnav"] > [dir="ltr"] > :nth-last-child(2) {
  display: none;
}

/*Disabling Library & Nitro & Birthday Buttons on DM*/ 
.privateChannels-oVe7HL [href="/store"],[href="/library"],[href="/activities"] { display: none; }

div.container-2giAcK:has(div.progressBarContainer-1efroK) { display: none; }

/*Remove Blue Highlight thing on touch*/
* {
    -webkit-tap-highlight-color: transparent;
}

/* Wide settings */
[class*="standardSidebarView-"] [class*="contentColumn-"] {
  max-width: 100%;
}
[class*="standardSidebarView-"] [class*="sidebarRegion-"] {
  flex: 0;
}

[class^="upsellVisible-"], /* Hide Banner Nitro Upsell Header */
[class^="premiumIconWrapper"], /* Hide Nitro Icon on Banners */
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"] /* "Get Nitro" button in Emoji/Sticker modal" */
{
    display: none !important;
}

/*Threads*/
.threadSuggestionBar-3ExSyc {
    display: none;
}
div [aria-label="Create Thread"] {
    display: none !important;
}

/* Badges double row on small screens fix */
.container-1gYwHN:not(:empty) {
  min-height: unset;
}

.buttons-uaqb-5>.button-ejjZWC:first-child,
.link-39sEB3[href="/store"],
[class*="badgeContainer-"]:has([class*="bogoTrialBadge-"]),
[class*="giftCodeContainer-"]:first-child,
[aria-label="Customize your own profile theme, banner, animated avatar, and more with Nitro!"],
.containerWithMargin-1CVXAM {
  display: none;
}
