/*Download Discord on Web*/
[data-list-id="guildsnav"] > [dir="ltr"] > :nth-last-child(3),
[data-list-id="guildsnav"] > [dir="ltr"] > :nth-last-child(2) {
  display: none;
}

/*Disabling Library & Nitro & Birthday Buttons on DM*/ 
.privateChannels-oVe7HL [href="/store"],[href="/library"],[href="/activities"] { display: none; }

div.container-2giAcK:has(div.progressBarContainer-1efroK) { display: none; }

/*Remove Blue Highlight thing on touch*/
* {
    -webkit-tap-highlight-color: transparent;
}

/* Wide settings */
[class*="standardSidebarView-"] [class*="contentColumn-"] {
  max-width: 100%;
}
[class*="standardSidebarView-"] [class*="sidebarRegion-"] {
  flex: 0;
}

/*Threads*/
.threadSuggestionBar-3ExSyc {
    display: none;
}
div [aria-label="Create Thread"] {
    display: none !important;
}

/* Badges double row on small screens fix */
.container-1gYwHN:not(:empty) {
  min-height: unset;
}

/*Hide Nitro upselling (by Vendicated & msm8916)*/
[class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List*/
[class^="channelTextArea"] [class^="buttons-"] > button, /* Gift Button*/
[class^="upsellVisible-"], /* Banner Nitro Upsell Header in the user modal*/
[class^="premiumIconWrapper"], /* Nitro Icon in top right on Banners*/
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"], /* "Get Nitro" button in Emoji/Sticker modal" */
[class*="tryItOutSection-"], /* try nitro banner section on profile editor*/
[class^="premiumIcon"], /* Try remove booster badge*/
[class^="customizationSection-"] + [class^="upsellContainer-"], /* Per server profile customizations */
[class^="customizationSection-"][class*="disabled-"], /* Per server profile customizations*/
[class*="bannerNitroUpsell-"], /* "Unlock Banner" in profile editor*/
[class^="imageUploaderHint-"],
[class^="imagePickerContainer-"] > [class^="optionBox-"]:nth-child(2) /* Remove gif option from profile pic upload option*/
{
  display: none !important;
}

/* My additions*/
[class^="premiumTab"], /* Nitro settings tab*/
#user-settings-cog-Discord_Nitro, /* Nitro settings right click entry */
#user-settings-cog-Billing, /* Billing settings right click entry */
[class^="subscribeAction"], /* Nitro upselling in server boosting screen */
[class^="upsellBanner"], /* Nitro upselling in screen share */
[class^="userPopoutInner"] > [class^="wrapper"] > [class^="banner"], /* Nitro upselling in user popout when hovering over banner */
[class^="tierCtaContainer"], [class^="tierCtaContainer"] + [class^="shelf"], /* Nitro upselling in activities */
a[href*="/snowsgiving"], [class^="customizationSection"] > [class^="limitedFeatureBorder"], /* Snowsgiving bs*/
[class^="upsellOverlayContainer-"], /* Upsell overlay in profiles tab */
[class*="sansAttachButton"] > [class^="buttons"] > [class^="container"], /* Christmas gifting button */
[id^="popout"] [class*="contentPremium"], /* Nitro upselling popups on settings (e.g. avatar decorations) */
[class^="birthdayFeatureBorder"], /* Birthday avatar decoration upselling */
[class^="sidebar"] > [class^="container"] > [class^="wrapper"] > [class^="container"] > [class^="content"], /* Nitro upselling above profile (e.g. super reactions) */
[class^="themeEditor"], /* Nitro theme upselling */
[class*="cozyMessage"] > [class*="buttonContainer"] > [class*="buttons"] > [class*="wrapper"] > [aria-label*="Add Super Reaction"], /* Message Hover menu super reactions */
[id^="popout"] [class*="colorPremiumGradient"], /* Message Hover overflow menu super reactions */
#message [class*="colorPremiumGradient"], /* Message right click menu super reactions */
[class^="burstReactionTooltipPrompt"], /* Super reaction tooltip Nitro upsell */
[aria-label="Add Super Reaction"], /* Message hover add super reaction icon */
[class^="side-"] > [class^="header-"] + [class^="premiumTab"] + [class^="item-"] + [class^="item-"] + [class^="item-"] + [class^="item-"], /* Settings billing tab */
#emoji-picker-tab-panel > [class*="emojiPickerHeader"]:first-child > [class^="tooltipContainer"]:nth-child(2) /* Nitro call screen reactions */
{
  display: none !important;
}
/* Disable Nitro button in custom emotes popup when emote is not available*/
[class^="emojiSection"] > div > div > div > a {
  color: inherit;
  pointer-events: none;
}
/* Disable clicking on super reactions*/
[class^="reactionInner"][aria-label*="burst react"] {
    pointer-events: none;
}
